{% extends "base.html.twig" %}
{% block title %}My account{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('users_my_account') }}">My account</a></li>
{% endblock %}
 {% block body %}
     <div class="row">
         <div class="col-md-12">
             {{ form_start(form) }}
             <div class="panel panel-flat">
                 <div class="panel-body">
                     <div class="row">
                         {{ forms.input("col-md-6","Full Name",form.nom) }}
                         {{ forms.input("col-md-6","Username",form.username) }}

                     </div>
                     <div class="row">
                         {{ forms.input("col-md-6","Email",form.email) }}
                         {{ forms.input("col-md-6","Phone",form.phone) }}
                     </div>
                     <div class="row">
                         {{ forms.input("col-md-4 avatar","Avatar",form.avatar) }}
                     </div>
                     {{ buttons.submitForm() }}
                 </div>
                 <div class="col-md-2"></div>
             </div>
         </div>
     </div>
     {{ form_end(form) }}
 {% endblock %}
{% block javascripts %}
    {{ scripts.form() }}
{% endblock %}
