{% extends 'base.html.twig' %}

{% block body %}

    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#{{ form_start(form) }}#}
            {#<div class="panel panel-flat">#}
                {#<div class="panel-body">#}
                    {#{{ form_row(form.oldPassword) }}#}
                    {#{{ form_row(form.newPassword.first) }}#}
                    {#{{ form_row(form.newPassword.second) }}#}
                    {#<button type="submit" class="btn btn-submit">Change</button>#}
                    {#{{ buttons.submitForm() }}#}
                {#</div>#}
                {#{{ form_end(form) }}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}


    <div class="row">
        <div class="col-sm-offset-2 col-lg-offset-3 col-md-offset-3 col-md-6  col-lg-6 col-sm-8 col-xs-12">
            <h1 class="title-chang-pass">Change password</h1>
            {{ form_start(form) }}
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="row input-pass-change">
                        <div class="col-md-12 pad-change-pass"> {{ form_row(form.oldPassword) }}</div>
                        <div class="col-md-12 pad-change-pass"> {{ form_row(form.newPassword.first) }}</div>
                        <div class="col-md-12 pad-change-pass"> {{ form_row(form.newPassword.second) }}</div>
                        {{ buttons.submitForm() }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}