<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cagrill</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ asset('back_template/assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('back_template/assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('back_template/assets/css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('back_template/assets/css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('back_template/assets/css/colors.css') }}" rel="stylesheet" type="text/css">
    {% block javascripts %}{% endblock %}
</head>

<body class="bg-slate-green">
<div class="page-container login-container">
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
                <div class="footer text-white">
                    &copy; 2017 <a href="#" class="text-white">Cargill</a> by <a href="http://www.pixelstrade.com/" class="text-white" target="_blank">PIXELS TRADE</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>