{% extends "security/layout.html.twig" %}
{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <form action="{{ path("login") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <div class="panel panel-body login-form">
            <div class="text-center">
                <div class="logo">
                    <img class="img-pdf" src="{{ asset("custom_assets/images/logo/logo.png") }}">
                </div>
                <h5 class="content-group-lg">
                    Login to your account
                    <small class="display-block">
                        Enter your credentials</small>
                </h5>
            </div>
            {% if error %}
                <div class="alert alert-danger"><i class="icon-alert position-right"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% for msg in app.session.getFlashBag.get('danger') %}
                <div class="alert alert-danger"><i class="icon-alert position-right"></i> {{ msg |raw }}</div>
            {% endfor %}
            <div class="form-group has-feedback has-feedback-left">
                <input id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Email">
                <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                </div>
            </div>
            <div class="form-group has-feedback has-feedback-left">
                <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password">
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn bg-blue btn-block">Sign on <i class="icon-circle-right2 position-right"></i></button>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}

{% block javascripts %}
<script>


    localStorage.clear();

</script>
{% endblock %}