{% extends ":users/ctl:index.html.twig" %}
{% block title %}Ctl{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="#">Form</a></li>
{% endblock %}
 {% block body %}
     <div class="row">
         <div class="col-sm-offset-2 col-lg-offset-3 col-md-offset-3 col-md-6  col-lg-6 col-sm-8 col-xs-12">
             {{ form_start(form) }}
             <div class="panel panel-flat">
                 <div class="panel-body">
                     <div class="row">
                         {{ forms.input("col-md-12","Full Name",form.fullName) }}
                         {{ forms.input("col-md-12","Email",form.email) }}
                         {{ forms.input("col-md-12","Mobile",form.mobile) }}
                     </div>
                     {% if  user.id is null %}
                         <div class="row">
                             {{ forms.input("col-md-12","Password",form.plainPassword.first) }}
                         </div>
                         <div class="row">
                             {{ forms.input("col-md-12","Password Confirmation",form.plainPassword.second) }}
                         </div>
                     {% endif %}
                     {{ buttons.submitForm() }}
                 </div>
                 {{ form_end(form) }}
             </div>
         </div>
     </div>
 {% endblock %}