{% extends ":portManagement/port:index.html.twig" %}
{% block title %}Port{% endblock %}
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="#">Form</a></li>
{% endblock %}
 {% block body %}
     <div class="row">
         <div class="col-md-12">
             {{ form_start(form) }}
             <div class="panel panel-flat">
                 <div class="panel-body">
                     <legend class="text-bold">Port</legend>
                     <div class="row ">
                         {{ forms.input("col-md-4","Ref",form.ref) }}
                         {{ forms.input("col-md-4","Name",form.name) }}
                         {{ forms.input("col-md-4","Type",form.portType) }}
                     </div>
                     <div class="row ">
                         {{ forms.input("col-md-6","City",form.city) }}
                         {{ forms.input("col-md-6","Image",form.image) }}
                     </div>
                     <div class="row">
                         <div class="col-md-12">
                             <legend class="text-bold">Terminals</legend>
                             <div class="content-group ">
                                 <div class="terminals"
                                      data-prototype="{{ forms.input("col-md-3","Name",form.terminals.vars.prototype.name)|e('html_attr') }} {{ forms.input("col-md-3","Longitude",form.terminals.vars.prototype.longitude)|e('html_attr') }} {{ forms.input("col-md-3","Latitude",form.terminals.vars.prototype.latitude)|e('html_attr') }} {{ forms.input("col-md-3","Distance Maximum (km)",form.terminals.vars.prototype.distanceMaximum)|e('html_attr') }}">
                                     {% for formTerminal in form.terminals %}
                                         <div class="row terminal">
                                             <div class="panel-heading">
                                                 <div class="heading-elements">
                                                     <ul class="icons-list">
                                                         <li><a data-action="close"></a></li>
                                                     </ul>
                                                 </div>
                                             </div>
                                             {{ forms.input("col-md-3","Name",formTerminal.name) }}
                                             {{ forms.input("col-md-3","Longitude",formTerminal.longitude) }}
                                             {{ forms.input("col-md-3","Latitude",formTerminal.latitude) }}
                                             {{ forms.input("col-md-3","Maximum Distance  (km)",formTerminal.distanceMaximum) }}
                                         </div>
                                     {% endfor %}
                                 </div>
                             </div>
                         </div>
                     </div>
                     {{ buttons.submitForm() }}
                 </div>
             </div>
             {{ form_end(form) }}
         </div>
     </div>
 {% endblock %}
{% block javascripts %}
    {{ scripts.form() }}
    <script>
        var $collectionHolder;
        var $addTagLink = $('<a href="#" class="btn btn-success add_tag_link"><i class="icon-plus2"></i> Add a terminal</a>');
        var $newLinkLi = $('<div></div>').append($addTagLink);
        jQuery(document).ready(function () {
            $collectionHolder = $('.terminals');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addTagLink.on('click', function (e) {
                e.preventDefault();
                addTagForm($collectionHolder, $newLinkLi);
            });
            $(".removeItem").on('click', function (e) {
                e.preventDefault();
                $tagFormLi.remove();
            });
            function addTagForm($collectionHolder, $newLinkLi) {
                var prototype = $collectionHolder.data('prototype');
                var index = $collectionHolder.data('index');
                var newForm = prototype.replace(/__name__/g, index);
                $collectionHolder.data('index', index + 1);
                var $newFormLi = $('<div class="row terminal"><div class="panel-heading"><div class="heading-elements"><ul class="icons-list"><li><a data-action="close" class="removeItem"></a></li></ul></div></div></div>').append($(newForm));
                $newLinkLi.before($newFormLi);
            }
            $(document).on('click', '.removeItem', function () {
                $(this).parent().parent().parent().parent().parent().remove()
            })
        });
    </script>
{% endblock %}


